<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/sigin" method="post">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="passwd" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
    
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>